# Cleaning the Grouped Speaker Observations

Upon inspection, I found some problems in need of fixing with the grouped speaker-meeting observations. For one, there are a few misspellings, seemingl

In [6]:
import pandas as pd

In [26]:
tdf = pd.read_csv('speaker_grouped.csv', index_col=0)
tdf = tdf[pd.to_datetime(tdf['date']).dt.year >= 1994]
tdf

,date,speaker,text_enhanced
1696,1994-02-04,CHAIRMAN GREENSPAN.,"As you know, this is our organizational meetin..."
1697,1994-02-04,MR. BERNARD.,"Secretary and Economist, Donald Kohn; Deputy S..."
1698,1994-02-04,MR. BOEHNE.,"Normally in an economic expansion, development..."
1699,1994-02-04,MR. BROADDUS.,My report is going to be pretty bland after th...
1700,1994-02-04,MR. COYNE.,"Oh, believe me, you will get asked! I think i..."
...,...,...,...
6827,2017-12-13,MS. BRAINARD.,I don't think of this as a normative statement...
6828,2017-12-13,MS. GEORGE.,"Lorie, on exhibit 2, chart 12, would you expla..."
6829,2017-12-13,MS. LOGAN.,Thank you. I will begin on your second exhibi...
6830,2017-12-13,MS. MESTER.,"Thank you, Madam Chair. Reports received from..."
6831,2017-12-13,VICE CHAIRMAN DUDLEY.,So moved. So you're just saying you have a ve...

In [27]:
general_speakers = ['SPEAKER(?).', 'SEVERAL.', 'PARTICIPANT.', 'PARTICIPANTS.', 'SPEAKER (?).', 'SEVERAL(?).']

In [28]:
tdf = tdf[~tdf.speaker.isin(general_speakers)]

In [29]:
tdf.to_csv('speaker_grouped_trimmed.csv')